h1 {
	color: #b6b5c7;
}
div {
	border: #0d03ab 10px solid;
	background: #5449f5 ;
	padding: 36px;
}
a {
	color: white;
	text-decoration: solid;
	padding-left: 36px;
}
h2 {
	color: black;
}
.icho {
	color: white;
}
p {
	font-style: italic;
	color: blue;
}
img {
	border: black 10px solid ;
	border-radius: 30px;
}